.Cart {
  position: relative;
  justify-items: center;
  box-sizing: inherit;
  text-align: left;
}

.ShoppingBag {
  position: absolute;
  top: 200px;
  margin-left: 150px;
  width: fit-content;
  height: fit-content;
  margin: 80px auto;
  background: white;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}
.ShoppingBagText {
  margin-bottom: 40px;
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}
.ItemFrame {
  border-bottom: 1px solid;
  text-align: left;
  margin: 40px;
  padding: 20px 30px;
  height: fit-content;
  display: flex;
}

.ItemsDetailsUl {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  list-style-type: none;
  text-align: left;
}

/* .Checkout {
  position: fixed;
  left: 700px;
  top: 200px;
  margin-left: 100px;
}
.StripeFrame {
  position: fixed;
  top: 300px;
  left: 700px;
  margin-left: 100px;
} */
.ItemsPictureFrame {
  margin: 10px;
  padding: 10px;
}
.ItemPicture {
  border: transparent 10px;
}
.ItemsDetailsDiv {
  margin-top: 20px;
  margin-right: 60px;
  width: 115px;
}
.ItemsDetailsDiv span:first-child {
  margin-bottom: 5px;
}
.ItemsDetailsDiv span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}
.ItemsQuantity {
  margin-top: 20px;
  margin-right: 60px;
}
.ItemsQuantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}
#buttonCart {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#buttonCart:focus,
input:focus {
  outline: 0;
}
.RemoveItemButton {
  height: fit-content;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.ItemPriceDiv {
  margin-top: 20px;
  margin-right: 60px;
}
.RemoveOneItemButton {
  margin-left: 10px;
  font-size: 20px;
}
.AddOneItemButton {
  margin-right: 10px;
}
.ItemsName {
  display: block;
  font-size: 22px;
  color: #43484d;
  font-weight: 600;
}
.ItemsDescription {
  font-size: 18px;
  color: aqua;
  font-weight: 300;
  display: block;
}
.ItemsCost {
  font-size: 22px;
  font-weight: bolder;
}
