@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Libre+Caslon+Display|Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic");
.Wrapper {
  z-index: 100;
  text-align: center;
  position: relative;
  top: 85px;
  display: flex;
  justify-content: center;
  background-color: white;
}
.HeaderNavBar {
  text-align: center;
  height: auto;
  justify-content: center;
  display: flex;
  left: 30%;
}

.secondWrapper {
  justify-content: center;
  position: relative;
  text-align: center;
}

video {
  background-color: black;
  z-index: 104;
}
@media all and (min-width: 600px) {
  video {
    width: 100%;
    height: 100%;
    background: contain;
  }
}
.myNavbar {
  background: transparent;
}

.secondPart {
  position: absolute;
  right: 5%;
  top: 6%;
  font-size: 20px;
  display: flex;
}

.entryNav {
  position: absolute;
  left: 5%;
  top: 6%;
  font-size: 20px;
}

.stylelogo {
  color: #fff;
  font-family: "Cardo", serif;

  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 4px;
  margin: auto;
  text-align: center;
  position: relative;
}

em {
  font-family: "EB Garamond", serif;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style: normal;

  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}

nav {
  position: fixed;

  top: 18px;
  left: 0;
  background: transparent;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.hvr-bounce-to-right {
  font-family: "Libre Caslon Display", serif;
  color: #eee;
  text-decoration: none;
  padding: 20px;
  flex-grow: 1;

  font-size: 26px;
}
button.hvr-bounce-to-right {
  border: none;
  font-family: "Libre Caslon Display", serif;
  background: transparent;
  text-decoration: none;
  padding: 20px;
  flex-grow: 1;

  font-size: 26px;
}

.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: gray;

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.filterArea {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 65px;
}
.UserDisplay {
  display: flex;
  justify-content: center;

  position: relative;
  flex-wrap: wrap;
}
.FilterButton {
  justify-content: center;
  position: relative;
}
.SearchBar {
  position: relative;
  justify-content: center;
  margin-right: 40px;
}

.InputSearchBar {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid #ffffff;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;
}

.InputSearchBar:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  right: -5px;
  top: 21px;
  background: #ffffff;
  border-radius: 3px;
  transform: rotate(-45deg);
  transition: all 200ms ease;
}

.InputSearchBar.active,
.InputSearchBar:hover {
  width: 200px;
  margin-right: 0px;
}

.InputSearchBar:after {
  height: 0px;
}

input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 15px;
  color: inherit;
  background: transparent;
  outline-width: 0px;
}

.NavUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.NavLi {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.ItemsField {
  align-items: center;
  position: relative;
  height: fit-content;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: -webkit-fill-available;
  grid-row-gap: 70px;
  width: fit-content;
  background-color: white;
  inline-size: -webkit-fill-available;
  align-self: center;
  z-index: 104;

  height: auto;
  top: 200px;
}
.ItemsFields {
  position: relative;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  min-width: 33%;
  z-index: 104;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.ItemName {
  font-style: italic;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}
.ItemDescription {
  font-weight: 100;
}
.ItemQuantities {
  color: red;
  transform: rotate(20deg);
  display: block;
  position: absolute;
  right: 35%;
  top: 26%;
  font-weight: bolder;
}
.itemPrice {
  font-weight: 150;
}
.ItemDescriptionLink {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
  overflow: hidden;
}

.ItemDescriptionLink a {
  color: white;
}
.PaginationDiv {
  display: flex;
  justify-content: center;
}
.PagePrevious {
  padding-bottom: 10px;
  background: transparent;
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 15px;
}
.PageNumber {
  padding-bottom: 10px;
  background: transparent;
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 15px;
}
.PageNext {
  padding-bottom: 10px;
  background: transparent;
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 15px;
}
@media screen and (max-width: 480px) {
  .ItemsFields {
    width: 50%;
  }
}
@media screen and (max-width: 568px) {
  .ItemsFields {
    width: 33.3%;
  }
}
@media screen and (max-width: 768px) {
  .ItemsFields {
    width: 33.3%;
  }
}
@media screen and (max-width: 1024px) {
  .ItemsFields {
    width: 25%;
  }
}
