.ItemPicture {
  position: absolute;
  top: 25%;
  left: 10%;
}
.itemInfo {
  position: absolute;
  top: 50%;
  left: 60%;
}
.formInput {
  border: 1px solid black;
  height: 50px;
  padding: 15px;
}
.divTitle {
  padding-bottom: 15px;
}

.reviewBox {
  position: absolute;
  height: auto;
  padding: 10px;
  /* border: 1px solid; */
  top: 700px;
  left: 60%;
}
.newReview {
  margin-bottom: 25px;
}
.addButton {
  margin-top: 10px;
  font-size: 20px;
  height: 45px;
  padding-bottom: 25px;
  border: none;
}
.newButton {
  background-color: #181818;
  color: white;
  height: 30px;
  border: none;
}

.reviewForm {
  position: absolute;
  height: auto;
  padding: 10px;
  /* border: 1px solid; */
  top: 650px;
  left: 10%;
}
