body {
  background-color: white;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.cart {
  display: flex;
  position: relative;
  justify-items: center;
}

.shopping-bag {
  position: absolute;
  top: 200px;
  margin-left: 150px;
}

.checkout {
  position: absolute;
  left: 700px;
  top: 200px;
  margin-left: 100px;
}
#stripeButton {
  position: fixed;
  top: 300px;
  left: 700px;
  margin-left: 100px;
}

/* signup and Login forms css */
.App {
  height: 100vh;
  display: flex;
  color: white;
}

.App__Aside {
  width: 50%;
  background-color: #66dac7;
}

.App__Form {
  width: 50%;
  background-color: #2e4158;
  padding: 25px 40px;
  overflow: auto;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #707c8b;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707c8b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616e7f;
}

.FormField__Button {
  background-color: #52c4b9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707d;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225e62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.cardcreatelistingcard {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: url("/images/store.jpg") no-repeat center center;
  position: absolute;
  background-size: cover;
}

.createAListingForm {
  width: 35%;
  height: 70%;
  background: #eee;
  padding: 30px;
  border-radius: 10px;
  background: rgba(238, 238, 238, 0.7);
}

input[name="mytext"] {
  width: 100%;
  padding: 12px 0px 4px;
  margin: 6px 0 20px;
  display: block;
  border: none;
  border-bottom: 1px dotted #000;
  border-radius: 4px;
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000;
  background: #eee;
  transition: all 0.3s;
}

input[name="mytext"]:focus {
  width: 100%;
  background: #333;
  color: #fff;
  outline: none;
  border-bottom: 1px dotted #f00;
}

input[type="submit"] {
  display: block;
  width: 100%;
  background-color: dimgray;
  color: white;
  padding: 14px 20px;
  margin: 14px 10px 14px 0;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: all 0.3s;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus {
  background-color: #333;
}
