body {
  background-color: white;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.cart {
  display: flex;
  position: relative;
  justify-items: center;
}

.shopping-bag {
  position: absolute;
  top: 200px;
  margin-left: 150px;
}

.checkout {
  position: absolute;
  left: 700px;
  top: 200px;
  margin-left: 100px;
}
#stripeButton {
  position: fixed;
  top: 300px;
  left: 700px;
  margin-left: 100px;
}
