body {
  background-color: white;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

/* .cart {
  display: flex;
  position: relative;
  justify-items: center;
}

.shopping-bag {
  position: absolute;
  top: 200px;
  margin-left: 150px;
}

.checkout {
  position: absolute;
  left: 700px;
  top: 200px;
  margin-left: 100px;
}
#stripeButton {
  position: fixed;
  top: 300px;
  left: 700px;
  margin-left: 100px;
} */
.cardcreatelistingcard {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #000;
  position: absolute;
  background-size: cover;
}

.createAListingForm {
  position: absolute;
  z-index: 300;
  top: 90px;
  right: 25px;
  width: 35%;
  height: 660px;
  background: #eee;
  padding: 30px;
  border-radius: 10px;
  background: rgba(238, 238, 238, 0.8);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.createAListingForm h2 {
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: dimgray;
  font-size: 27px;
}
input[name="mytext"] {
  width: 100%;
  padding: 12px 0px 4px;
  margin: 6px 0 20px;
  display: block;
  border: none;
  border-bottom: 1px dotted #000;
  border-radius: 4px;
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;

  color: #000;
  background: #eee;
  transition: all 0.3s;
}

input[name="mytext"]:focus {
  width: 100%;
  background: lightgray;
  color: #fff;
  outline: none;
  border-bottom: 1px dotted #333;
}

input[type="submit"] {
  display: block;
  width: 100%;
  background-color: dimgray;
  color: white;
  padding: 14px 20px;
  margin: 14px 10px 14px 0;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: all 0.3s;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus {
  background-color: dimgray;
}
.FormNameListing {
  text-transform: lowercase;
}
.FormDescriptionListing {
  text-transform: lowercase;
}
